body {
  background-color: #FEF9E7;
  font-family: Arial;
  font-size: 100%;
  color: #101402;
}
h1 {
  margin-left: 70px;
  font-size: 2.25em;
}
h2 {
	margin-left:70px;
	font-size: 1.5em;
}
h3 {
	text-align: center;
	font-size: 1.875em
}
h4 {
	text-align:center;
	font-size: 1.4em;
	color: #058ADB;
}